<div class="register-page">

    <header class="register-header">
        <img src="./assets/img/join-logo-dark.svg" alt="Join Logo" class="logo" />
    </header>

    <main class="register-main">
        <div class="register-card">

            <div class="card-title">
                <button type="button" class="back-btn" (click)="goBack()"><img src="./assets/icons/arrow_left.svg"
                        alt="Back" /></button>
                <div class="title-center">
                    <h1>Sign up</h1>
                    <span class="accent-line"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper" [class.error]="nameError">
                    <input type="text" placeholder="Name" [(ngModel)]="form.name" (ngModelChange)="nameError = ''" />
                    <img src="./assets/icons/person.svg" class="input-icon" />
                </div>
                <span class="field-error" *ngIf="nameError">{{ nameError }}</span>
            </div>

            <div class="form-group">
                <div class="input-wrapper" [class.error]="emailError">
                    <input type="email" placeholder="Email" [(ngModel)]="form.email"
                        (ngModelChange)="emailError = ''" />
                    <img src="./assets/icons/mail.svg" class="input-icon" />
                </div>
                <span class="field-error" *ngIf="emailError">{{ emailError }}</span>
            </div>

            <div class="form-group">
                <div class="input-wrapper" [class.error]="passwordError">
                    <input type="password" placeholder="Password" [(ngModel)]="form.password"
                        (ngModelChange)="passwordError = ''" />
                    <img src="./assets/icons/lock.svg" class="input-icon" />
                </div>
                <span class="field-error" *ngIf="passwordError">{{ passwordError }}</span>
            </div>

            <div class="form-group">
                <div class="input-wrapper" [class.error]="confirmPasswordError">
                    <input type="password" placeholder="Confirm Password" [(ngModel)]="form.confirmPassword"
                        (ngModelChange)="confirmPasswordError = ''" />
                    <img src="./assets/icons/lock.svg" class="input-icon" />
                </div>
                <span class="field-error" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</span>
            </div>

            <div class="privacy-policy-group">
                <input type="checkbox" id="acceptPrivacyPolicy" [(ngModel)]="form.acceptPrivacyPolicy"
                    (ngModelChange)="privacyPolicyError = ''" />
                <label for="acceptPrivacyPolicy">
                    I accept the <a routerLink="/privacy-policy">Privacy policy</a>
                </label>
            </div>
            <span class="field-error" *ngIf="privacyPolicyError">{{ privacyPolicyError }}</span>

            <div class="card-actions">
                <button type="button" class="btn-signup" (click)="signUp()"  [disabled]="!form.acceptPrivacyPolicy">
                    Sign up
                </button>
            </div>

        </div>
    </main>

    <footer class="register-footer">
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/legal-notice">Legal notice</a>
    </footer>

</div>