@use '../../shared/add-task-shared' as *;

.add-task-page {
    padding: 40px;
    max-width: 1100px;

    h1 {
        font-size: 61px;
        font-weight: 700;
        margin: 0 0 32px;
    }
}

.form-divider {
    @media (max-width: 1060px) {
        display: none !important;
    }
}

.priority-toggle {
    @media (max-width: 792px) {
        flex-direction: column;
    }
}

.priority-btn {
    @media (max-width: 792px) {
        width: 100%;
    }
}

.subtask-container {
    height: 120px;
}