<div class="overlay" (click)="cancel()">
  <div class="dialog" (click)="$event.stopPropagation()">

    <div class="dialog-left">
      <div class="logo">
        <img src="./assets/img/join-logo.svg" alt="Logo" />
      </div>
      <div class="dialog-left-text">
        <h2>Add contact</h2>
        <p>Tasks are better with a team!</p>
        <span class="accent-line"></span>
      </div>
    </div>

    <div class="dialog-right">
      <button class="close-btn" (click)="cancel()">✕</button>
      <div class="dialog-right-wrapper">
        <div class="avatar-placeholder">
          <img src="./assets/icons/person_white.svg">
        </div>

        <div class="form-wrapper">
          <div class="form-fields">
            <div class="input-wrapper">
              <input type="text" placeholder="Name" [(ngModel)]="form.name"
                [style.--input-icon]="'url(/assets/icons/person.svg)'" />
            </div>

            <div class="input-wrapper">
              <input type="email" placeholder="Email" [(ngModel)]="form.email"
                [style.--input-icon]="'url(/assets/icons/mail.svg)'" />
            </div>
            <span class="field-error" *ngIf="form.email && !isEmailValid(form.email)">
              Please enter a valid email address
            </span>

            <div class="input-wrapper">
              <input type="tel" placeholder="Phone" [(ngModel)]="form.phone"
                [style.--input-icon]="'url(/assets/icons/call.svg)'" />
            </div>
            <span class="field-error" *ngIf="form.phone && !isPhoneValid(form.phone)">
              Please enter a valid phone number
            </span>
          </div>
          <div class="dialog-actions">
            <button class="btn-cancel" (click)="cancel()">
              Cancel ✕
            </button>
            <button class="btn-create" (click)="submit()"
              [disabled]="!form.name || !form.email || !form.phone || !isEmailValid(form.email) || !isPhoneValid(form.phone)">
              Create contact ✓
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>